{% load static %}
<section id="nosotros" class="my-5">
    <h3 class="text-blue-mid">¿Quiénes somos?</h3>
    <p>
        ServiTracker se integra con la Electrificadora de Santander (ESSA), empresa del Grupo EPM que trabaja día a día por la construcción de territorios sostenibles y competitivos en la región. 
    </p>
    <p>
        Nuestra misión es mejorar la comunicación entre ciudadanos y empresas de servicios públicos, facilitando el reporte y seguimiento de fallas, y apoyando la gestión de proyectos de energía limpia como la generación solar y la movilidad eléctrica.
    </p>
</section>
