{% extends 'base.html' %}
{% block title %}Mi Perfil | ServiTracker{% endblock %}

{% block content %}
<div class="container my-5">

    <!-- Datos básicos -->
    <div class="card shadow-sm">
        <div class="card-header bg-blue-mid text-white">
            <h4 class="mb-0">Mi Perfil</h4>
        </div>
        <div class="card-body">
            <ul class="list-group mb-3">
                <li class="list-group-item"><strong>Documento:</strong> {{ usuario.documento }}</li>
                <li class="list-group-item"><strong>Nombre completo:</strong> {{ usuario.nombres }} {{ usuario.apellidos }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ usuario.email }}</li>
                <li class="list-group-item"><strong>Rol:</strong> {{ usuario.get_rol_display }}</li>
            </ul>
            <a href="{% url 'cambiar_contrasena' %}" class="btn btn-orange-dark w-100 mb-3">
                🔑 Cambiar contraseña
            </a>

            <!-- Botones de navegación -->
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'mi_lista_pqr' %}" class="btn btn-blue-mid w-100 py-3">
                        📋 Ver mis PQR
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'mis_propiedades' %}" class="btn btn-green-dark w-100 py-3">
                        🏠 Ver mis Propiedades
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón volver al dashboard -->
    <div class="mt-4">
        {% if usuario.rol == "administrador" %}
            <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary w-100 py-3">⬅️ Volver al Dashboard</a>
        {% elif usuario.rol == "agente" %}
            <a href="{% url 'dashboard_agente' %}" class="btn btn-secondary w-100 py-3">⬅️ Volver al Dashboard</a>
        {% elif usuario.rol == "tecnico" %}
            <a href="{% url 'dashboard_tecnico' %}" class="btn btn-secondary w-100 py-3">⬅️ Volver al Dashboard</a>
        {% elif usuario.rol == "ciudadano" %}
            <a href="{% url 'dashboard_ciudadano' %}" class="btn btn-secondary w-100 py-3">⬅️ Volver al Dashboard</a>
        {% endif %}
    </div>

</div>
{% endblock %}
