{% extends 'base.html' %}
{% block title %}Asignar Técnico{% endblock %}
{% block content %}
<h2 class="text-blue-dark">Asignar Técnico al PQR {{ pqr.id }}</h2>
<p><strong>Descripción:</strong> {{ pqr.descripcion }}</p>
<p><strong>Propiedad:</strong> {{ pqr.propiedad }}</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-blue-mid">Asignar</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
