{% extends 'base.html' %}
{% block title %}Cerrar PQR{% endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="text-blue-dark mb-4">✅ Cerrar PQR</h2>
    <p class="lead">¿Confirmas que el PQR <strong>#{{ pqr.id }}</strong> está resuelto?</p>

    <form method="post" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Marcar como Resuelto</button>

        {% if user.rol == "tecnico" %}
            <a href="{% url 'mis_asignaciones' %}" class="btn btn-secondary">Cancelar</a>
        {% elif user.rol == "agente" or user.rol == "administrador" %}
            <a href="{% url 'lista_pqr_admin' %}" class="btn btn-secondary">Cancelar</a>
        {% endif %}
    </form>
</div>
{% endblock %}
