{% extends 'base.html' %}
{% block title %}Todos los PQR{% endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="text-blue-dark">Todos los PQR</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Propiedad</th>
                <th>Ciudadano</th>
                <th>Tipo de falla</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pqr in pqr_list %}
            <tr>
                <td>{{ pqr.id }}</td>
                <td>{{ pqr.propiedad }}</td>
                <td>{{ pqr.ciudadano }}</td>
                <td>{{ pqr.tipo_falla }}</td>
                <td>{{ pqr.descripcion }}</td>
                <td>{{ pqr.estado }}</td>
                <td>
                    {% if pqr.estado.nombre == "Pendiente" %}
                        <a href="{% url 'asignar_tecnico' pqr.pk %}" class="btn btn-sm btn-blue-mid">Asignar técnico</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="7">No hay PQR registrados.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
